{%- extends "bootstrap/base.html" %}
{# default title #}
{% block title %}Omics Dashboard{% endblock %}
{% block head %}
{{super()}}
{%- endblock %}
{# we will put custom stylesheets here later #}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/omics/dashboard">Omics Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Samples <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('render_sample_list') }}"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
            <li><a href="{{ url_for('render_upload_sample') }}"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('render_collection_list') }}"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
            <li><a href="{{ url_for('render_create_collection') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Analyses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('render_analysis_list') }}"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
            <li><a href="{{ url_for('render_create_analysis') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Workflows <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('render_workflow_list') }}"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
            <li><a href="{{ url_for('render_create_workflow') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create</a></li>
          </ul>
        </li>

        <li><a href="{{ url_for('render_user_list') }}">Users</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">{{ session['user']['name'] }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('render_settings') }}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a href="{{ url_for('browser_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>
{% endblock %}
