{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<!-- Login form -->
<div class="row">
  <div class="col-sm-3 col-sm-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Omics Dashboard Login</h3></div>
        <br>
        <form action="/omics/login" method="post">
        <div class="form-group">
          <label for="emailInput">Email address</label>
          <input type="email" name="email" id="emailInput" class="form-control" placeholder="example@test.net">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" name="password" value="{{ request.form.password }}" id="passwordInput" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
        <input class="btn btn-primary form-control" type="submit" value="Login">
        </div>
        </form>
  {% if error %}
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove-circle"></span></span></button>
        <strong>Error:</strong> {{ error }}
      </div>
  {% endif %}
  {% if msg %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove-circle"></span></span></button>
        {{ msg }}
      </div>
  {% endif %}
    </div>
  </div>
</div>
{% endblock %}
