click
Cython
flask
flask-cors
h5py
pandas
itsdangerous
jinja2
markupsafe
ruamel.yaml
setuptools
six
uwsgi
werkzeug
wheel
numpy
pyjwt
cachecontrol
chardet
flask-swagger-ui
future
idna
isodate
lockfile
mistune
passlib
pyparsing
rdflib
rdflib-jsonld
requests
shellescape
typing
urllib3
xkcdpass
