<!-- Modal for when something fails -->
{% macro modal() %}
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="modalLabel">Error Occurred</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true"><i class="far fa-close"></i></span>
         </button>
        </div>
        <div class="modal-body" id="modalBody">
          This will be changed when the modal is popped up!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro modal_script(refresh_on_close=false) %}
  <script>
    function activateModal(title, message) {
      $('#modalLabel').text(title);
      $('#modalBody').text(message);
      $('#modal').modal();
    }
    {% if refresh_on_close %}
    $('#modal').on('hidden.bs.modal', function () {
        location.reload();
    });
    {% endif %}
  </script>
{% endmacro %}