<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="navbar-brand" href="#">Workflow #{{workflowId}}</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-info"><i class="fas fa-sync"></i> Reset</button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-up"></i> Update</button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-success"><i class="fas fa-cogs"></i> Submit Job</button>
      </div>
    </ul>
  </div>
</nav>
<div class="row" id="editor-contents">
  <div class="col-3">
    <ngb-accordion [closeOthers]="true" style="width: 100%; position: absolute" [addButton]="false">
      <ngb-panel *ngFor="let packageName of uniquePackages" title="{{ packageName }}">
        <ng-template ngbPanelContent>
          <ngb-accordion [closeOthers]="true" [addButton]="true" (moduleRequested)="moduleRequested($event)">
            <ngb-panel *ngFor="let wfModule of wfModules[packageName]; let moduleInd = index" packageName="{{ packageName }}" moduleInd="{{ moduleInd }}" title="{{wfModule.label }}" style="width: 100%; position: absolute">
              <ng-template ngbPanelContent>
                <b>Description</b>: {{ wfModule.description }}
                <br>
                <b>Input(s)</b>:
                <ul>
                  <li *ngFor="let input of wfModule.toolDefinition.inputs"><code>{{ input.id }}: {{ input.type }}</code> <br> {{ input.doc }}</li>
                </ul>
                <b>Output(s)</b>:
                <ul>
                  <li *ngFor="let output of wfModule.toolDefinition.outputs"><code>{{ output.id }}: {{ output.type }}</code> <br> {{ output.doc }}</li>
                </ul>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-9">
    <svg id="svg" class="cwl-workflow"></svg>
  </div>
</div>
