#svg {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}
#navbar {
  height: 6%;
  width: 100%;
  position: relative;
}
#editor-contents {
  height: 93.7%;
  width: 102.4%;
  position: fixed;
}
