bcrypt
click
Cython
flask
flask-cors
Flask-Login
gevent
rq
Flask-RQ2
Flask-SocketIO
Flask-SQLAlchemy
h5py
scipy
pandas
itsdangerous
jinja2
markupsafe
setuptools
six
uwsgi
werkzeug
wheel
numpy
pyjwt
pandas
cachecontrol
chardet
future
idna
isodate
lockfile
mistune
passlib
pyparsing
rdflib
rdflib-jsonld
requests>=2.20.0
shellescape
typing
urllib3
xkcdpass
sqlalchemy
python-magic
redis
scikit-learn
dash>=1.0
dash-daq>=0.0.3
dash-bootstrap-components>=0.7.0
dash-canvas>=0.0.10
plotly>=3.10.0
dash_dangerously_set_inner_html
msgpack
tables
psutil
tabulate
Wand
cairosvg
ruamel.yaml
git+git://github.com/BiRG/pyopls.git
git+git://github.com/BiRG/chemometrics-tools.git