bcrypt
click
Cython
flask
flask-cors
h5py
scipy
pandas
itsdangerous
jinja2
markupsafe
ruamel.yaml
setuptools
six
uwsgi
werkzeug
wheel
numpy
pyjwt
pandas
cachecontrol
chardet
future
idna
isodate
lockfile
mistune
passlib
pyparsing
rdflib
rdflib-jsonld
requests>=2.20.0
shellescape
typing
urllib3
xkcdpass
sqlalchemy
Flask-SQLAlchemy
python-magic
Flask-Login
redis
scikit-learn
dash>=1.0
dash-daq>=0.0.3
dash-bootstrap-components>=0.6.3
plotly>=3.10.0
msgpack
tables
psutil
git+git://github.com/BiRG/pyopls.git
