<!doctype html>
<html lang="en">
  <head>
    <title>
    {% block title %}
      Omics Dashboard
    {%- endblock %}
    </title>

    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock %}
    {% block styles %}
      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-9dACWymWSkhCeCgbjV6xqS20Luu4ue6QnEvr+nMXpPMwIq/OB89AoRh27Flsrxzs" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css" integrity="sha256-+vXzuS+2WfIRKsWKhx57m2MxXLm1lWxXWMvRYvV8EmI=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.2/css/fileinput.min.css" integrity="sha256-I+VAS9/TDl2SSZpaEqhJHNB3IlJS7XpUQYqzLAhbpuI=" crossorigin="anonymous" />
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/cr-1.5.0/fc-3.2.5/sl-1.2.6/datatables.min.css"/>
    {%- endblock %}
  </head>
  <body>
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary pb-2">
      <a class="navbar-brand" href="{{ url_for('browser.render_dashboard') }}">
        Omics Dashboard @ {{ BRAND }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sampleDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Samples
            </a>
            <div class="dropdown-menu" aria-labelledby="sampleDropdown">
              <a class="dropdown-item" href="{{ url_for('samples.render_sample_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List Samples</a>
              <a class="dropdown-item" href="{{ url_for('sample_groups.render_sample_group_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List Sample Groups</a>
              <a class="dropdown-item" href="{{ url_for('sample_groups.render_upload_sample_group') }}"><i class="fas fa-upload fa-fw" aria-hidden="true"></i>Upload</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="collectionDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Collections
            </a>
            <div class="dropdown-menu" aria-labelledby="collectionDropdown">
              <a class="dropdown-item" href="{{ url_for('collections.render_collection_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List</a>
              <a class="dropdown-item" href="{{ url_for('collections.render_create_collection') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Create</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="analysisDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Analyses
            </a>
            <div class="dropdown-menu" aria-labelledby="analysisDropdown">
              <a class="dropdown-item" href="{{ url_for('analyses.render_analysis_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List</a>
              <a class="dropdown-item" href="{{ url_for('analyses.render_create_analysis') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Create</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="workflowDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Workflows
            </a>
            <div class="dropdown-menu" aria-labelledby="workflowDropdown">
              <a class="dropdown-item" href="{{ url_for('workflows.render_workflow_list') }}"><i class="fas fa-list" aria-hidden="true"></i> List</a>
              <a class="dropdown-item" href="{{ url_for('workflows.render_create_workflow') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Create</a>
              <a class="dropdown-item" href="{{ url_for('workflows.render_workflow_module_list') }}"><i class="fas fa-plug fa-fw" aria-hidden="true"></i>Modules</a>
              <a class="dropdown-item" href="{{ url_for('jobs.render_job_list') }}"><i class="fas fa-tasks fa-fw" area-hidden="true"></i>Jobs</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{{ url_for('users.render_user_list') }}"><i class="fas fa-user" aria-hidden="true"></i> Users</a>
              <a class="dropdown-item" href="{{ url_for('user_groups.render_user_group_list') }}"><i class="fas fa-users" aria-hidden="true"></i> User Groups</a>
              <a class="dropdown-item" href="{{ url_for('user_groups.render_create_user_group') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i> Create User Group</a>
            </div>
          </li>
          <li class="nav-item">
          </li>


        </ul>
        <ul class="navbar-nav d-flex mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ session['user']['name'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{ url_for('browser.render_settings') }}"><i class="fas fa-cog" aria-hidden="true"></i> Settings</a>
              <a class="dropdown-item" href="{{ url_for('browser.browser_logout') }}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  {%- endblock %}
  {% block precontent %}
  {%- endblock %}
  <div id="content" class="container page-contents">
    <br>
    <h1 class="display-4">
    {% block headline %}
    {%- endblock  %}
    </h1>
    {% block content %}
    {%- endblock %}
    {% block postcontent %}
    {%- endblock %}
  </div>
  {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js" integrity="sha256-sPB0bXhTKTOD26cdIyP0IBbjPU55/RfeXgJmbPZmuXc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.2/js/fileinput.min.js" integrity="sha256-A8siB/BVo/zePp8oaRIaeZPPlqKmhVjfUuOQpW8YgAI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.2/themes/fas/theme.min.js" integrity="sha256-iGiji8zeffG0Z8unS5aQwiBXX0LLXwtq4S0VfGQm/yk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/cr-1.5.0/fc-3.2.5/sl-1.2.6/datatables.min.js"></script>
    <script>
      $(document).ready(() => {
        $('.selectpicker').selectpicker();
          $('.data-table').dataTable({order: [[0, 'desc']]});
      });
    </script>
  {%- endblock %}
  </body>
</html>
