<!doctype html>
<html lang="en">
  <head>
    <title>
    {% block title %}
      Omics Dashboard
    {%- endblock %}
    </title>

    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock %}
    {% block styles %}
      <link href="{{ url_for('static', filename='styles/fontawesome-all.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/bootstrap-select.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/buttons.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/fixedColumns.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/colReorder.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/select.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/fileinput.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/omics.css') }}" rel="stylesheet">
    {%- endblock %}
  </head>
  <body>
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark pb-2">
      <a class="navbar-brand" href="{{ url_for('render_dashboard') }}">
        Omics Dashboard @ {{ BRAND }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sampleDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Samples
            </a>
            <div class="dropdown-menu" aria-labelledby="sampleDropdown">
              <a class="dropdown-item" href="{{ url_for('render_sample_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List Samples</a>
              <a class="dropdown-item" href="{{ url_for('render_sample_group_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List Sample Groups</a>
              <a class="dropdown-item" href="{{ url_for('render_upload_sample') }}"><i class="fas fa-upload fa-fw" aria-hidden="true"></i>Upload</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="collectionDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Collections
            </a>
            <div class="dropdown-menu" aria-labelledby="collectionDropdown">
              <a class="dropdown-item" href="{{ url_for('render_collection_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List</a>
              <a class="dropdown-item" href="{{ url_for('render_create_collection') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Create</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="analysisDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Analyses
            </a>
            <div class="dropdown-menu" aria-labelledby="analysisDropdown">
              <a class="dropdown-item" href="{{ url_for('render_analysis_list') }}"><i class="fas fa-list fa-fw" aria-hidden="true"></i>List</a>
              <a class="dropdown-item" href="{{ url_for('render_create_analysis') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Create</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="workflowDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Workflows
            </a>
            <div class="dropdown-menu" aria-labelledby="workflowDropdown">
              <a class="dropdown-item" href="{{ url_for('render_workflow_list') }}"><i class="fas fa-list" aria-hidden="true"></i> List</a>
              <a class="dropdown-item" href="{{ url_for('render_create_workflow') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i>Create</a>
              <a class="dropdown-item" href="{{ url_for('render_workflow_modules') }}"><i class="fas fa-plug fa-fw" aria-hidden="true"></i>Modules</a>
              <a class="dropdown-item" href="{{ url_for('render_job_list') }}"><i class="fas fa-tasks fa-fw" area-hidden="true"></i>Jobs</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{{ url_for('render_user_list') }}"><i class="fas fa-user" aria-hidden="true"></i> Users</a>
              <a class="dropdown-item" href="{{ url_for('render_user_group_list') }}"><i class="fas fa-users" aria-hidden="true"></i> User Groups</a>
              <a class="dropdown-item" href="{{ url_for('render_create_user_group') }}"><i class="fas fa-plus-square fa-fw" aria-hidden="true"></i> Create User Group</a>
            </div>
          </li>
          <li class="nav-item">
          </li>


        </ul>
        <ul class="navbar-nav d-flex mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ session['user']['name'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{ url_for('render_settings') }}"><i class="fas fa-cog" aria-hidden="true"></i> Settings</a>
              <a class="dropdown-item" href="{{ url_for('browser_logout') }}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  {%- endblock %}
  <div id="content" class="container" >
    {% block content %}
    {% endblock %}
  </div>
  {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.fixedColumns.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.colReorder.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput-theme.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.selectpicker').selectpicker();
      });
    </script>
  {%- endblock %}
  </body>
</html>
