{% from 'components/navbar.html' import navbar %}
<!doctype html>
<html lang="en">
  <head>
    <title>
    {% block title %}
      Omics Dashboard
    {%- endblock %}
    </title>

    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock %}
    {% block styles %}
      {% if current_user.theme == 'dark' %}
      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
      {% else %}
      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
      {% endif %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css" integrity="sha256-+vXzuS+2WfIRKsWKhx57m2MxXLm1lWxXWMvRYvV8EmI=" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.2/css/fileinput.min.css" integrity="sha256-I+VAS9/TDl2SSZpaEqhJHNB3IlJS7XpUQYqzLAhbpuI=" crossorigin="anonymous" />
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
     {%- endblock %}
  </head>
  <body>
  {% block navbar %}
      {{ navbar() }}
  {%- endblock %}
  {% block precontent %}
  {%- endblock %}
  <div id="content" class="container page-contents">
    <br>
      <h2>
    {% block headline %}
    {%- endblock  %}
      </h2>
    {% block content %}
    {%- endblock %}
  </div>
{% block footer %}
<br>
<footer class="footer">
  <hr>
  <p class="text-center text-muted">
    Omics Dashboard by <a href="https://birg.cs.wright.edu">BiRG</a>@<a href="http://www.wright.edu">Wright State University</a>. <a href="https://github.com/BiRG/Omics-Dashboard">Source</a> licensed under <a href="https://opensource.org/licenses/MIT">MIT License</a>.
  </p>
</footer>
{% endblock %}
  {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js" integrity="sha256-sPB0bXhTKTOD26cdIyP0IBbjPU55/RfeXgJmbPZmuXc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.2/js/fileinput.min.js" integrity="sha256-A8siB/BVo/zePp8oaRIaeZPPlqKmhVjfUuOQpW8YgAI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.5.2/themes/fas/theme.min.js" integrity="sha256-iGiji8zeffG0Z8unS5aQwiBXX0LLXwtq4S0VfGQm/yk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(() => {
        $('.selectpicker').selectpicker();
          $('.data-table').dataTable({
              order: [[0, 'desc']],
              buttons: [{extend: 'colvis', className: 'btn btn-secondary'}]
          });

          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              $($.fn.dataTable.tables(true)).css('width', '100%');
              $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
          });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io('ws://' + location.host + '/omics/notifications',
            {reconnection: false, path: '/omics/socket.io'});
        socket.on('response', function(msg) {
            console.log(msg.meta);
        });
</script>
  {%- endblock %}
  </body>
</html>
