{% extends "base.html" %}
{% block title %}Create {{ type }}{% endblock %}
{% macro selector(select_id, label, data, multiple=True, value_key='id')  %}
  <div class="form-group">
    <label for="{{ select_id }}">{{ label }}</label>
    <select id="{{ select_id }}" name="{{ select_id }}" class="form-control selectpicker" data-live-search="true" {{ 'multiple' if multiple }}>
      {% if select_id=='userGroup' %}
      <option value="0" selected>None</option>
      {% endif %}
      {% for item in data %}
      <option value="{{ item[value_key] }}" {{ 'selected' if sample_ids and item['id'] in sample_ids}}>{{ item['label'] if 'label' in item else str(item['id']) + ': ' + item['name'] }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}
{% block content %}
<div id="contents" class="container-fluid" style="padding: 2%;">
  <div class="card mx-auto my-auto d-block" style="max-width: 25rem;">
    <h4 class="card-header">{{ type }} Metadata</h4>
    <div class="card-body">
        <form id="metadata" action="{{ url_for(endpoint) }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
		  <label for="nameInput">{{ 'Group ' if type=='Sample' else '' }}Name</label>
            <input type="text" name="name" required="true" id="nameInput" class="form-control" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="descriptionTextArea">Description</label>
            <textarea name="description" rows="3" id="descriptionTextArea" class="form-control"></textarea>
          </div>

         {% if type == 'Analysis' %}
          {% with data=get_collections(get_user_id()) %}
            {{ selector('collection', 'Collections', data) }}
          {% endwith %}
        {% elif type == 'Collection' %}
          {% with data=get_samples(get_user_id()) %}
            {{ selector('sample', 'Samples', data) }}
	    <div class="form-group">
	      <label for="sortBy">Sort By</label>
	      <select id="sortBy" name="sortBy" class="form-control selectpicker" data-live-search="true">
	        <option value="baseSampleId" selected>baseSampleId</option>
	      </select>
	    </div>
          {% endwith %}
        {% elif type == 'Sample' %}
          <div class="form-group">
            <label for="fileInput">Files</label>
	    <input type="file" class="file form-control" data-show-upload="false" data-show-preview="false" data-show-remove="false" aria-label="Filename" id="fileInput" name="files" multiple>
	  </div>
          {% with data=get_parsing_modules() %}
	    <!--{{ str(data) }}-->
            {{ selector('parser', 'File Type (Parser)', data, multiple=False, value_key='path') }}
          {% endwith %}
          {% with data=get_preprocessing_modules() %}
	    <!--{{ str(data) }}-->
            {{ selector('preproc', 'Data Type (Preprocessor)', data, multiple=False, value_key='path') }}
          {% endwith %}
        {% elif type == 'User Group' %}
          {% with data=users %}
            {{ selector('user', 'Users', data, multiple=True) }}
          {% endwith %}
        {% endif %}

        {% if type.lower() != 'user group' %}
	  {% with data=get_included_groups(get_user_id()) %}
	    {{ selector('userGroup', 'User Group', data, multiple=False) }}
	  {% endwith %}
	  <div class="form-group">
            <label for="groupPermissions">Group Permissions</label>
            <select id="groupPermissions" name="groupPermissions" class="form-control selectpicker">
              <option value="full">Read/Write</option>
              <option value="readonly">Read Only</option>
            </select>
          </div>
          <div class="form-group">
            <label for="allPermissions">Global Permissions</label>
            <select id="allPermissions" name="allPermissions" class="form-control selectpicker">
              <option value="full">Read/Write</option>
              <option value="readonly">Read Only</option>
              <option value="none">Hidden</option>
            </select>
          </div>
        {% endif %}
          <div class="form-group">
            <input class="btn btn-primary form-control" type="submit" value="Create">
          </div>
        </form>
        {% if error %}
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="fas fa-times-circle"></span></span></button>
            <strong>Error:</strong> {{ error }}
          </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% if type == 'Sample' %}
<script>
  $('#fileInput').fileinput({
      theme: "fas"
  });
</script>
{% endif %}
{% if type == 'Collection' %}
<script>
  $('#sample').on('change', function(){
      var reqData = {'samples': $(this).val()};
      var url = '{{url_for('samples_api.get_common_attributes')}}';
      $.post(url, JSON.stringify(reqData))
          .done(function(res) {
	      $('#sortBy').find('option').remove().end();
	      $('#sortBy').append($('<option>', {
	          value: 'baseSampleId',
		  text: 'baseSampleId'
	      }));
	      for (val in res){
	          $('#sortBy').append($('<option>', {
		      value: res[val],
		      text: res[val]
		  }));
	      }
	      $('#sortBy').selectpicker('refresh');
	  })
	  .fail(function(res) {
	      $('#sortBy').find('option').remove().end();
	      $('#sortBy').append($('<option>', {
	          value: 'baseSampleId',
		  text: 'baseSampleId'
	      }));
	      $('#sortBy').selectpicker('refresh');
	  });
  });
</script>
{% endif %}
{% endblock %}
