{# should not be used as a page in itself #}
<div class="card mb-3">
  <h4 class="card-header text-white bg-danger">Danger Zone!</h4>
  <div class="card-body">
    <h6 class="card-subtitle text-muted">Record deletion cannot be undone.</h6>
    <form id="delete-form">
      <div class="form-group">
        <label for="nameGroup">Enter name of record to confirm delete:</label>
        <div class="input-group" id="nameGroup">
          <input type="text" class="form-control" id="inputName" placeholder="{{ data['name'] }}">
          <span class="input-group-btn">
                <button type="submit" class="btn btn-danger form-control" id="deleteButton"> <i class="fas fa-eraser fa-fw"></i>Delete</button>
              </span>
        </div>
      </div>
    </form>
  </div>
</div>
