{# The dashboard puts resources belonging to the user front and center#}
{% extends "entrybase.html" %}
{% block head %}
  {{ super() }}

{% if type.lower() == 'job' %}
{% include 'components/jobchart.html' %}
{% endif %}

{% endblock %}
{% block styles %}
  {{ super() }}
  {% if type.lower() == 'sample group' %}
    <style>
     tfoot {
      display: table-header-group;
     }
    </style>
  {% endif %}
{% endblock %}
{% set protectedKeys =  ['owner', 'id', 'rowid', 'groupPermissions','allPermissions', 'userGroup', 'dateModified', 'maxRowCount', 'maxColCount'] %}
{% block content %}
  {{ super() }}
  {% if type.lower() == 'analysis' %}
    {% include 'collectiontable.html' %}
  {% elif type.lower() == 'job' %}
    <div class="card mb-3">
      <h4 class="card-header text-white bg-dark">Progress</h4>
      <div class="card-body">
        <div id="chart_div"></div>
      </div>
    </div>
  {% elif type.lower() == 'sample group' %}
    {% include 'sampletable.html' %}
  {% elif type.lower() == 'workflow module' or type.lower() == 'workflow' %}
    {% include 'workflowcontents.html' %}
  {% endif %}
  {% if type.lower() not in ['job', 'workflow module'] and is_write_permitted(get_user_id(), data) %}
    {% include 'components/dangerzone.html' %}
  {% endif %}
{% endblock %}
{% block scripts %}
  {{ super() }}
{% if type.lower() == 'analysis' %}
  <script type="text/javascript">
      $(document).ready(function() {
          var table = $('#collections').DataTable();
      });
  </script>
{% elif type.lower() == 'sample group' %}
    <script src="{{ url_for('static', filename='js/sampletable.js') }}"></script>
{% endif %}
{% endblock %}

