{# should not be used as a page in itself #}
<div class="card mb-3">
    <h4 class="card-header text-white bg-dark">Metadata Fields</h4>
    <div class="card-body">
        <h6 class="card-subtitle text-muted">Attributes will update when the table cell is un-focused.</h6>
        <div class="container">
            <table id="recordMetadata" class="table table-striped table-bordered" cellspacing="0" width="auto">
                <thead>
                <tr>
                    {% for heading in column_headings%}
                        <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tfoot>
                <tr>
                    {% for heading in column_headings %}
                        <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
                <tbody>
                {% for i, row in enumerate(values) %}
                    <tr id ="tr-{{ row[0] }}">
                        {% for item, heading in zip(row, column_headings) %}
                            <td contenteditable="true" class="recordtd" id="{{ data['id'] }},{{ i }},{{ heading }}">{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

