{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
  <!-- Profile update-->
<div class="page-header">
  <h1 class="display-4">
    Settings
  </h1>
</div>
  <div class="row mt-2">
    <div class="container-fluid">
      <div class="card card-default mx-auto d-block" style="max-width: 25rem;">
        <h3 class="card-header">Update Profile</h3>
        <div class="card-body">
        <p class="card-subtitle">Enter new values (leave empty to keep the same)</p>
        <form action="{{ url_for('browser.render_settings') }}" method="post">
          <div class="form-group">
          <label for="emailInput">Email Address</label>
            <input type="email" name="email" id="emailInput" class="form-control" placeholder="{{ session['user']['email'] }}">
          </div>

          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" name="name" id="nameInput" class="form-control" placeholder="{{ session['user']['name'] }}">
          </div>

          <div class="form-group">
            <label for="passwordInput1">New Password</label>
            <input type="password" name="password1" id="passwordInput1" class="form-control" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="passwordInput2">Repeat New Password</label>
            <input type="password" name="password2" id="passwordInput2" class="form-control" placeholder="Password">
          </div>

          <div class="form-group">
            <input class="btn btn-primary form-control" type="submit" value="Update">
          </div>

        </form>
        {% if error %}
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="fas fa-close"></span></span></button>
            <strong>Error:</strong> {{ error }}
          </div>
        {% endif %}
        {% if msg %}
          <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="fas fa-close"></span></span></button>
            {{ msg }}
          </div>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
  {% if session['user']['admin'] %}
  <div class="row mt-2">
    <div class="container-fluid">
      <div class="card card-default mx-auto d-block" style="max-width: 25rem;">
        <div class="card-header"><h3 class="card-title">Generate Invitation Link</h3></div>
        <form>
          <div class="form-group">
            <label for="invitation-group">Invite URL</label>
            <div class="input-group" name="invitation-group">
              <input type="text" name="invitation" id="invitation" class="form-control" value="Placeholder" readonly>
              <span class="input-group-btn">
                <button id="copy-button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="Copy to clipboard" type="button" data-clipboard-target="#invitation">
                 <i class="fas fa-clipboard"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <input id="generateInvitation" type="button" class="btn btn-primary form-control" value="Generate">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="container-fluid">
      <div class="card card-default mx-auto d-block" style="max-width: 25rem;">
        <h3 class="card-header">Change User Password</h3>
        <div class="card-body">
          <p class="card-subtitle">Change the password associated with an email<p>
          <form action="{{ url_for('browser.render_settings') }}" method="post">
            <div class="form-group">
              <label for="changeEmailInput">User Email Address</label>
              <input type="email" name="changeEmail" id="changeEmailInput" class="form-control" placeholder="{{ session['user']['email'] }}">
            </div>

            <div class="form-group">
              <label for="changePasswordInput1">New Password</label>
              <input type="password" name="changePassword1" id="changePasswordInput1" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="changePasswordInput2">Repeat New Password</label>
              <input type="password" name="changePassword2" id="changePasswordInput2" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
              <input class="btn btn-warning form-control" type="submit" value="Reset">
            </div>

          </form>
          {% if password_change_error %}
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="fas fa-close"></span></span></button>
              <strong>Error:</strong> {{ password_change_error }}
            </div>
          {% endif %}
          {% if password_change_msg %}
            <div class="alert alert-success alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="fas fa-close"></span></span></button>
              {{ password_change_msg}}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
  {% if session['user']['admin'] %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <!-- Handle the generate and copy buttons -->
    <script type="text/javascript">
    new Clipboard('#copy-button');
    //Call the api to get a new invitation on click
    $("#generateInvitation").click(function() {
      $.getJSON('{{ url_for('browser.get_invitation') }}', null, function(data){
        $("#invitation").val(window.location.host + '{{ url_for('browser.render_registration') }}' + '?invitation=' + data.value)
      });
    });
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  {% endif %}
{% endblock %}