{% extends "base.html" %}
{% from 'components/create_form.html' import create_form_tab, create_form_tab_panel, create_inivitation_form, create_invitation_form_tab with context %}
{% block title %}Omics Dashboard - Settings{% endblock %}
{% block headline %}Settings{% endblock %}
{% block content %}
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        {{ create_form_tab(page_data.profile_update_form_data.label, true) }}
        {% if page_data.admin %}
            {{ create_invitation_form_tab() }}
            {{ create_form_tab(page_data.password_reset_form_data.label) }}
        {% endif %}
    </ul>
    <div class="tab-content" id="tab-content">
        {{ create_form_tab_panel(page_data.profile_update_form_data.entries, page_data.profile_update_form_data.label, error, active=true) }}
        {% if page_data.admin %}
            {{ create_inivitation_form(page_data.user_group_entry) }}
            {{ create_form_tab_panel(page_data.password_reset_form_data.entries, page_data.password_reset_form_data.label) }}
        {%- endif %}
    </div>
{%- endblock %}
{% block scripts %}
{{ super() }}
  {% if page_data.admin %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>

    <!-- Handle the generate and copy buttons -->
  <script type="text/javascript">
  new ClipboardJS('#copy-button');

  function generateInvitation() {
      const userGroupSelect = document.getElementById('{{ page_data.user_group_entry.id }}');
      const userGroupId = userGroupSelect.options[userGroupSelect.selectedIndex].value;
      console.log(userGroupId);
      const inviteUrl = `{{ url_for('api.create_invitation') }}?primary_user_group_id=${userGroupId}`;
      fetch(inviteUrl)
           .then(res => res.json())
           .then(data => {
               console.log(data);
               document.getElementById('invitation').value = `${window.location.protocol}//${window.location.host}{{ url_for('browser.render_registration') }}?invitation=${data.value}`;
           });
    }
    $(() => {
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  {% endif %}
{% endblock %}