{% extends 'entry.html' %}
{% from 'components/text_viewer.html' import text_viewer, text_viewer_tab %}
{% block headline %}
  {{ super() }}
  <br>
  <a href="{{ url_for('workflows.render_edit_workflow', workflow_id=page_data.id) }}" class="btn btn-primary"><i class="fas fa-project-diagram"></i> Open in Editor</a>
    <a href="{{ url_for('jobs.render_submit_job', workflow_id=page_data.id) }}" class="btn btn-success"><i
            class="fas fa-cogs"></i> Submit Job</a>
{% endblock %}
{% block tabnav %}
    {{ super() }}
    {{ text_viewer_tab('CWL Workflow Definition') }}
{% endblock -%}
{% block tabpanels %}
  {{ super() }}
  {{ text_viewer('CWL Workflow Definition', page_data.workflow_contents) }}
{%- endblock %}