cwltool
h5py>=2.6.0
pandas>=0.18.0
numpy>=1.11.0
scipy>=0.18.0
scikit-learn>=0.18.0
tables>=3.5.2
joblib>=0.13.2
git+git://github.com/BiRG/Omics-Dashboard-Python-Client.git
git+git://github.com/BiRG/pyopls.git
