{# The dashboard puts resources belonging to the user front and center#}
{% extends "entrybase.html" %}
{% set protectedKeys =  ['owner', 'id', 'rowid', 'groupPermissions','allPermissions', 'userGroup', 'dateModified'] %}
{% block content %}
  {{ super() }}
  {% if type.lower() == 'analysis' %}
    {% include 'collectiontable.html' %}
  {% elif type.lower() == 'job' %}
    {% include 'joblog.html' %}
  {% elif type.lower() == 'sample group' %}
    {% include 'sampletable.html' %}
  {% endif %}
  {% if is_write_permitted(get_user_id(), data) %}
    {% include 'dangerzone.html' %}
  {% endif %}
{% endblock %}

