{# should not be used as a page in itself #}
<div class="card mb-3">
  <h4 class="card-header text-white bg-dark">Samples</h4>
  <div class="card-body">
    <div class="container">
      <table id="samples" class="table table-striped table-bordered" cellspacing="0" width="auto">
        <thead>
          <tr>
            {% for heading in sample_headings.values() %}
              <th>{{ heading }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tfoot>
          <tr>
            {% for heading in sample_headings.values() %}
              <th>{{ heading }}</th>
            {% endfor %}
          </tr>
        </tfoot>
        <tbody>
        {% for item in samples %}
          <tr id="tr-{{ item['id'] }}">
            {% for key in sample_headings.keys() %}
                {% if key == 'name' %}
                  <td><a href="{{ get_item_link('sample', item) }}">{{ item[key] }}</a></td>
                {% elif key in USERKEYS %}
                  <td id="{{ item["id"] }},{{ key }}"><a href="{{ get_profile_link(item[key]) }}">{{ get_user_name(item[key]) }}</a></td>
                {% else %}
                  <td id="{{ item["id"] }},{{ key }}" class="sampletd" contenteditable="{{ 'false' if key in PROTECTEDKEYS else 'true' }}">{{ item[key] }}</td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
